* {
    box-sizing: border-box;
}

:root {
    --primaryColor: #fefee3;
    --secondaryColor: #4c956c;
    --tertiaryColor: #2c6e49;

}

html, body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primaryColor);
    padding: 0;
    margin: 0;

    scroll-behavior: smooth;
}

a:hover {
    cursor: pointer;
}

hr {
    width: 60%;
}

/* Header */

nav {
    color: var(--tertiaryColor);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    padding: 0.5rem 1rem;

    list-style-type: none;
}

nav li {
    display: flex;
    letter-spacing: 2px;
    padding: 0.2rem 1.2rem;
}

nav a {
    display: inherit;
    color: var(--tertiaryColor);
    text-decoration: none;
}

nav a:visited {
    color: var(--tertiaryColor);
    text-decoration: none;
}

@media screen and (max-width: 405px) {
    .mobile-hide {
        display: none;
    }
}

/* Hero */

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: var(--secondaryColor);
    min-height: 30vh;
    padding: 2rem;
    margin: 0 auto;
}

#hero a, a:visited {
    color: white;
}

#scroll-down {
    display: flex;
    flex-direction: column;
}

#arrow {
    position: relative;
}

#scroll-down a, a:visited {
    text-decoration: none;
}

#scroll-down:hover #arrow {
    animation-name: point;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes point {
    0% { top: 0; }
    50% { top: 10px; }
    100% { top: 0; }
}

/* About Me */

#me {
    display: flex;
    flex-direction: row;
    justify-content: center;

    min-height: 30vh;
    padding: 1rem;
    margin: 2rem;
    margin-top: 5rem;
}

#me img {
    height: 250px;
    width: 250px;

    border: none;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 50, 0.1) 3px 8px 10px 5px;
}

#me hgroup {
    padding: 2rem;
}

@media screen and (max-width: 610px) {
    #me {
        flex-direction: column;
    }
}

/* Article (Some Quick Notes) */

article {
    font-size: 1.2rem;
    margin: 5rem;
}

/* Experience */

#survey {
    text-align: center;

    margin: 5rem 1rem;
}

#survey h2 {
    padding-bottom: 3rem;
}

.flex-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    max-width: 1200px;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;
    background-color: var(--secondaryColor);

    height: 300px;
    width: 300px;
    padding: 1rem;
    margin: 0.5rem;

    border: none;
    border-radius: 40px;
    box-shadow: rgba(50, 50, 50, 0.1) 3px 8px 10px 5px;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--tertiaryColor);
    height: 8vh;
    width: 100%;
}